<!--<mat-toolbar color="primary">-->
<!--  <p>-->
<!--    Disclaimer: I do not claim any rights to the formula used in this script. I found a website that gives a very good<br>-->
<!--    explanation on how to caluculate your required inverter size and decided to make a script using their formula, <br>-->
<!--    becuase if I wrote these details on a piece of paper I'd probably lose it. A big thank you to the owners of this<br>-->
<!--    website https://www.electricalengineeringtoolbox.com/2017/07/how-to-calculate-inverter-power-rating.html-->
<!--  </p>-->
<!--</mat-toolbar>-->

<p>
  <mat-toolbar color="primary">
    <span>
       Disclaimer: I do not claim any rights to the formula used in this script. I found a website that gives a very good<br>
        explanation on how to caluculate your required inverter size and decided to make a script using their formula, <br>
        becuase if I wrote these details on a piece of paper I'd probably lose it. A big thank you to the owners of this<br>
        website https://www.electricalengineeringtoolbox.com/2017/07/how-to-calculate-inverter-power-rating.html
    </span>
  </mat-toolbar>
</p>
